:root {
  --text: #d7dadc;
  --background: #030303;
  --primary: #ff4500;
  --font: "IBM Plex Sans", sans-serif;
  --border: #343536;
}

html {
  background-color: var(--background);
}

body {
  scroll-behavior: smooth;
  background-color: var(--background);
}

* {
  font-family: var(--font);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  color: var(--text);
}

/* header */

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 7px 12px;
  background: #1a1a1b;
  border-bottom: 1px solid var(--border);
}

.logo--container {
  display: flex;
  align-items: center;
  font-weight: 700;
  letter-spacing: 1.5px;
  cursor: pointer;
}

.logo {
  font-size: 1.4rem;
  height: 2rem;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 7px;
  background-color: var(--primary);
  border-radius: 50%;
  color: #ffffff;
}

.name {
  font-size: 1.4rem;
}

/* footer */

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

/* home */

.home--container {
  width: 980px;
  display: flex;
  justify-content: space-between;
  margin: 16px auto;
}

.projects--container {
  width: 70%;
  height: 550px;
}

.miscellaneous--container {
  width: 28%;
}
