:root {
  --text: #ffffff;
  --background: #000000;
  --accent: #4ba0ff;
  --handwriting: "Architects Daughter", cursive;
}

body {
  width: 70%;
  margin: 0 auto;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: var(--background);
  color: var(--text);
}

/* header */

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;
  background-color: #000000a6;
  backdrop-filter: blur(2px);
}

/* footer */

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: green;
}

/* home */

.home--container {
  height: 80vh;
  width: 100%;
  min-height: 600px;
  display: flex;
  justify-content: center;
}

.home--intro__container {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  transition: width 1s;
}

.home--intro {
  width: 760px;
  font-size: 2.6rem;
  margin: 10px 0;
}

.home--intro__sub {
  width: 760px;
  font-size: 1.4rem;
}

.name {
  text-shadow: 0 0 10px #fff, 0 0 30px var(--accent), 0 0 50px var(--accent),
    0 0 70px var(--accent);
}

.start--button {
  margin: 10px;
  border: none;
  cursor: pointer;
}

.start--img {
  height: 4rem;
}

.home--options {
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  transition: width 1s;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.option {
  font-family: var(--handwriting);
  width: fit-content;
  margin: 10px;
  margin-left: 50px;
  font-size: 1.4rem;
  border: none;
  text-shadow: 0 0 10px #fff, 0 0 30px var(--accent), 0 0 50px var(--accent),
    0 0 70px var(--accent);
  cursor: pointer;
  transition: 0.2s ease-in;
}

.option:hover {
  color: #4ba0ff;
  padding-left: 15px;
  transition: 0.2s ease-out;
  text-shadow: none;
}
